{% block component_review_rating %}
    {% set full = points|round(0, 'floor') %}
    {% set left = ((points - full) * 4)|round %}
    {% set left = left / 4 %}

    {% if left > 0 %}
        {% set half = 1 %}
    {% endif %}

    {% set blank = 5 - full - half %}

    {% if altText is not defined %}
        {% set altText = 'detail.reviewAvgRatingAltText'|trans({ '%points%': points|round(1, 'floor'), '%maxPoints%': 5 }) %}
    {% endif %}

    {% block component_review_rating_output %}
        <div class="sf-rating" aria-label="{{ altText }}">
            {% if full > 0 %}
                {% for star in range(1, full) %}
                    <span class="sf-rating__icon sf-icon">
                        <svg viewBox="0 0 11 10" preserveAspectRatio="none" class="sf-icon-path">
                            <defs>
                                <linearGradient id="linearGradient-full-{{ star }}" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="1" stop-color="var(--icon-color)"></stop>
                                    <stop offset="0" stop-color="var(--icon-color-negative, var(--c-gray-variant))"></stop>
                                </linearGradient>
                            </defs>
                            <path
                                    d="M5.5 0l1.235 3.8h3.996L7.498 6.15l1.235 3.8L5.5 7.6 2.267 9.95l1.235-3.8L.269 3.8h3.996L5.5 0z"
                                    fill="var(--icon-color)"
                                    style="height: 100%;"
                            ></path>
                        </svg>
                    </span>
                {% endfor %}
            {% endif %}

            {% if half %}
                <span class="sf-rating__icon sf-icon">
                    <svg viewBox="0 0 11 10" preserveAspectRatio="none" class="sf-icon-path">
                        <defs>
                            <linearGradient id="linearGradient-half-{{ full + 1 }}" x1="0" y1="0" x2="1" y2="0">
                                <stop offset="0.5" stop-color="var(--icon-color)"></stop>
                                <stop offset="0.5" stop-color="var(--icon-color-negative, var(--c-gray-variant))"></stop>
                            </linearGradient>
                        </defs>
                        <path
                                d="M5.5 0l1.235 3.8h3.996L7.498 6.15l1.235 3.8L5.5 7.6 2.267 9.95l1.235-3.8L.269 3.8h3.996L5.5 0z"
                                fill="url(#linearGradient-half-{{ full + 1 }})"
                                style="height: 100%;"
                        ></path>
                    </svg>
                </span>
            {% endif %}

            {% if blank > 0 %}
                {% for star in range(1, blank) %}
                    <span class="sf-rating__icon sf-icon">
                        <svg viewBox="0 0 11 10" preserveAspectRatio="none" class="sf-icon-path">
                            <defs>
                                <linearGradient id="linearGradient-empty-{{ full + (half ? 1 : 0) + star }}" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="1" stop-color="var(--icon-color-negative, var(--c-gray-variant))"></stop>
                                    <stop offset="0" stop-color="var(--icon-color-negative, var(--c-gray-variant))"></stop>
                                </linearGradient>
                            </defs>
                            <path
                                    d="M5.5 0l1.235 3.8h3.996L7.498 6.15l1.235 3.8L5.5 7.6 2.267 9.95l1.235-3.8L.269 3.8h3.996L5.5 0z"
                                    fill="var(--icon-color-negative, var(--c-gray-variant))"
                                    style="height: 100%;"
                            ></path>
                        </svg>
                    </span>
                {% endfor %}
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}