{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    {# Custom Top Info Bar #}
    <div class="header-top-bar text-white py-3 px-5" style="background-color: #004494">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-2">
                <div class="top-bar-item">
                    <small>>>> Nur für Gewerbe.. Preise zzgl. gesetzl. MwSt. <<<</small>
                </div>
                <div class="top-bar-item d-none d-md-block">
                    <small>Kauf auf Rechnung für Firmen & Behörden</small>
                </div>
                <div class="top-bar-item d-none d-lg-block">
                    <small>24h-Versand | Express-Lieferung möglich</small>
                </div>
                <div class="top-bar-item d-none d-xl-block">
                    <small>Kostenlose Layouterstellung für Werbeartikel</small>
                </div>
            </div>
        </div>
    </div>
<a href="{{ path('frontend.navigation.page', { navigationId: config('core.basicInformation.contactPage') }) }}">
    {# Main Header #}
    {% block layout_header_navigation %}
        <div class="row align-items-center py-3 px-5">
            {# Logo #}
            {% block layout_header_logo %}
                <div class="col-auto header-logo-col">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}

            {# Search Bar #}
            {% block layout_header_search %}
                <div class="col header-search-col">
                    <div class="mx-auto" style="max-width: 600px;">
                         <span class="header-icon border-color-primary">
                        {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                        </span>
                    </div>
                </div>
            {% endblock %}

            {# Header Actions #}
            {% block layout_header_actions %}
                <div class="col-auto header-actions-col">
                    <div class="d-flex align-items-center gap-2">
                        {# Mobile Menu Toggle #}
                        {% block layout_header_navigation_toggle %}
                            <div class="d-lg-none">
                                <button class="btn btn-outline-primary btn-sm"
                                        type="button"
                                        data-off-canvas-menu="true"
                                        aria-label="{{ 'general.menuLink'|trans|striptags }}">
                                    {% sw_icon 'stack' %}
                                </button>
                            </div>
                        {% endblock %}

                        {# Help/Contact Icon #}
                        {% block layout_header_navigation_help_button %}
                            <a href="{{ path('frontend.navigation.page', { navigationId: config('core.basicInformation.contactPage') }) }}"

                            >
                                {% block layout_header_navigation_icon_questionmark %}
                                <span class="header-icon">
                                    {% sw_icon 'questionmark' style { 'pack': 'solid' } %}
                                           </span>
                                {% endblock %}
                            </a>
                        {% endblock %}

                        {# Phone Icon #}
                        {% block layout_header_navigation_phone_paperclip %}
                            <a href="tel:+49123456789"
                               title="Telefon">
                                <span class="header-icon">
                                    {% sw_icon 'paperclip' %}
                                </span>
                            </a>
                        {% endblock %}

                        {# User/Account Icon #}
                        {% block layout_header_navigation_user_button %}
                            <a href="{{ path('frontend.account.home.page') }}"
                              >
                                {% block layout_header_navigation_icon_user %}
                                <span class="header-icon">
                                    {% sw_icon 'lock-closed' %}
                                            </span>
                                {% endblock %}
                            </a>
                        {% endblock %}

                        {# Search Icon #}
                        {% block layout_header_navigation_search_button %}
                            <a>
                                {% block layout_header_navigation_icon_search %}
                                <span class="header-icon">
                                    {% sw_icon 'cart' %}
                                             </span>
                                {% endblock %}
                            </a>
                        {% endblock %}

             {#           #}{# Wishlist #}{#
                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist %}
                                <div class="d-none d-md-block">
                                    <a class="btn header-actions-btn"
                                       href="{{ path('frontend.wishlist.page') }}"
                                       title="{{ 'header.wishlist'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                                    </a>
                                </div>
                            {% endblock %}
                        {% endif %}

                        #}{# Account #}{#
                        {% block layout_header_actions_account %}
                            <div>
                                {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                            </div>
                        {% endblock %}

                        #}{# Cart #}{#
                        {% block layout_header_actions_cart %}
                            <div>
                                <div class="header-cart" data-off-canvas-cart="true">
                                    <a class="btn header-actions-btn"
                                       href="{{ path('frontend.checkout.cart.page') }}"
                                       data-cart-widget="true"
                                       title="{{ 'checkout.cartTitle'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                    </a>
                                </div>
                            </div>
                        {% endblock %}#}

                    </div>

                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}